/* -------------------------------------------------------------------- */

.theme-dark {
	--quote-qutter-background: var(--color-base-25);
}

.theme-light {
	--quote-qutter-background: var(--color-base-25);
}

body {
	--callout-radius: 8px;
	--callout-padding: var(--size-4-3) var(--size-4-3) var(--size-4-3) var(--size-4-5);
}

/* ==================================================================== */
/*                                EDITOR                                */
/* ==================================================================== */

/* --------------------------- BLOCK QUOTES --------------------------- */

.markdown-rendered blockquote {
	position: relative;
	border-left: 0;
	padding: 0 0 0 20px;
}

.markdown-rendered blockquote:after {
	content: '';
	position: absolute;
	left: 2px;
	top: 2px;
	bottom: 2px;
	width: 4px;
	background-color: var(--quote-qutter-background);
	border-radius: var(--radius-s);
}

.callout > .callout-content {
	--quote-qutter-background: rgba(var(--callout-color), 0.15);
}

.callout .callout-title {
	gap: 8px;
}

/* ----------------------------- CALLOUTS ----------------------------- */

.callout {
	position: relative;
}

.callout::before {
	content: '';
	position: absolute;
	left: 0;
	top: 1px;
	bottom: 1px;
	width: 10px;
	border-left: 4px solid rgb(var(--callout-color));
	/* border-radius: 6px; */
}

.callout-title-inner {
	color: var(--text-normal);
	font-weight: 600;
}

.callout > .callout-content > *:first-child {
	margin-block-start: 8px;
	margin-top: 8px;
}

.callout > .callout-content > *:last-child {
	margin-block-end: 0;
	margin-bottom: 0;
}

/* ----------------------------- COMMENTS ----------------------------- */

/* this should fix colors in comments */
.cm-comment.cm-strong,
.cm-comment .cm-strong,
.cm-comment.cm-em,
.cm-comment .cm-em,
.cm-comment.cm-quote.cm-quote,
.cm-comment .cm-quote.cm-quote {
	color: var(--code-comment)
}

/* ------------------------------ LINKS ------------------------------- */

.markdown-rendered .internal-link {
	text-decoration: none;
}

.markdown-rendered .internal-link:hover {
	text-decoration: underline;
}

/* ------------------------------ LISTS ------------------------------- */

/* rendered view */
.markdown-rendered.show-indentation-guide li > ul::before,
.markdown-rendered.show-indentation-guide li > ol::before
{
	left: calc(-1em - 1px);

	border: none;
	background-image: linear-gradient(var(--indentation-guide-color) 40%, rgba(255,255,255,0) 0%);
	background-position: right;
	background-size: 1px 5px;
	background-repeat: repeat-y;
	width: 1px;
}

/* source view */
.markdown-source-view.mod-cm6 .cm-indent::before {
	transform: translateX(calc(0.15em + 2px));

	border: none;
	background-image: linear-gradient(var(--indentation-guide-color) 40%, rgba(255,255,255,0) 0%);
	background-position: right;
	background-size: 1px 5px;
	background-repeat: repeat-y;
	width: 1px;
}

/* navigation view */
.nav-folder.mod-root .nav-folder > .nav-folder-children,
.tree-item-children {
	border-left: 1px dashed var(--nav-indentation-guide-color)
}

div>ol>li::marker {
	font-family: var(--font-monospace)
}

/* ==================================================================== */
/*                               WORKSPACE                              */
/* ==================================================================== */


